auto/
.DS_Store
*.ltx
*.dvi
*.log
*.aux
*.ilg
*.idx
*.ind
*.pdf
*.out
*.out.ps
*.toc
*.ps
*.html
*.logos
*.zip
tempmacros.tex
pytexdimens.tex
README
README.rst
README.html
ctanbuild/*
!ctanbuild/private.sh
!ctanbuild/maketexdimenspdf.sh
!CTAN/texdimens.zip
